---
- name: Tear down environment
  hosts: localhost
  gather_facts: no
  vars:
    mysql_container_name: a4-mysql

  tasks:
    - name: Stop and remove MySQL container
      community.docker.docker_container:
        name: "{{ mysql_container_name }}"
        state: absent
