---
- name: Tear down environment
  hosts: localhost
  connection: local

  tasks:
    - name: Stop and remove MySQL container
      shell: |
        docker rm -f a4-mysql || true
      changed_when: false
