---
- name: Assignment 4 - Tear environment down
  hosts: localhost
  connection: local
  tasks:
    - name: Stop and remove MySQL container
      community.docker.docker_container:
        name: a4-mysql
        state: absent
