---
- name: Tear down environment
  hosts: localhost
  gather_facts: no

  tasks:
    - name: Stop and remove MySQL container
      community.docker.docker_container:
        name: a4-mysql
        state: absent
        force_kill: yes
