---
- name: Tear down environment
  hosts: localhost
  become: false
  tasks:
    - name: Stop and remove MySQL container
      community.docker.docker_container:
        name: a4-mysql
        state: absent
        force_kill: true
