---
- name: Tear down environment
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    mysql_container_name: a4-mysql
    flyway_containers:
      - flyway_initial
      - flyway_incremental

  tasks:

    - name: Stop and remove Flyway containers
      community.docker.docker_container:
        name: "{{ item }}"
        state: absent
        force_kill: true
      loop: "{{ flyway_containers }}"

    - name: Stop and remove MySQL container
      community.docker.docker_container:
        name: "{{ mysql_container_name }}"
        state: absent
        force_kill: true
