---
- name: Bring environment up and run Flyway migrations
  hosts: localhost
  gather_facts: yes
  vars:
    mysql_container_name: a4-mysql
    mysql_root_password: rootpass
    mysql_port: 3306
    db_name: subscriptions
    db_user: sub_user
    db_pass: sub_pass
    flyway_image: flyway/flyway:10
    flyway_init_path: ../flyway/migrations_initial
    flyway_incr_path: ../flyway/migrations_incremental

  tasks:
    - name: Run initial Flyway migrations
      ansible.builtin.shell: |
        docker run --rm --network host \
        -v {{ flyway_init_path }}:/flyway/sql \
        {{ flyway_image }} \
        -url=jdbc:mysql://127.0.0.1:{{ mysql_port }}/{{ db_name }}?allowPublicKeyRetrieval=true&useSSL=false \
        -user={{ db_user }} -password={{ db_pass }} -locations=filesystem:/flyway/sql migrate

    - name: Run incremental Flyway migrations
      ansible.builtin.shell: |
        docker run --rm --network host \
        -v {{ flyway_incr_path }}:/flyway/sql \
        {{ flyway_image }} \
        -url=jdbc:mysql://127.0.0.1:{{ mysql_port }}/{{ db_name }}?allowPublicKeyRetrieval=true&useSSL=false \
        -user={{ db_user }} -password={{ db_pass }} -locations=filesystem:/flyway/sql migrate
