---
- name: Bring environment up and run Flyway migrations
  hosts: localhost
  connection: local
  vars:
    mysql_root_password: rootpass
    db_name: subscriptions
    db_user: sub_user
    db_pass: sub_pass
    mysql_port: 3306
    flyway_initial: "{{ playbook_dir }}/../flyway/migrations_initial"
    flyway_incremental: "{{ playbook_dir }}/../flyway/migrations_incremental"

  tasks:

    - name: Ensure MySQL container is running
      ansible.builtin.shell: |
        docker ps --filter "name=a4-mysql" --filter "status=running" --format "{{ '{{' }}.Names{{ '}}' }}" | grep -q a4-mysql \
        || docker run -d --name a4-mysql \
            -e MYSQL_ROOT_PASSWORD={{ mysql_root_password }} \
            -e MYSQL_DATABASE={{ db_name }} \
            -p {{ mysql_port }}:3306 \
            mysql:8
      changed_when: false

    - name: Wait until MySQL is ready
      ansible.builtin.shell: |
        until docker exec a4-mysql mysqladmin ping -uroot -p{{ mysql_root_password }} --silent; do
          echo "MySQL is not ready yet... waiting 3s"
          sleep 3
        done
        echo "MySQL is ready!"
      changed_when: false

    - name: Create DB user with privileges (mysql_native_password)
      ansible.builtin.shell: |
        docker exec -i a4-mysql mysql -uroot -p{{ mysql_root_password }} -e "
          DROP USER IF EXISTS '{{ db_user }}'@'%';
          CREATE USER '{{ db_user }}'@'%' IDENTIFIED WITH mysql_native_password BY '{{ db_pass }}';
          GRANT ALL PRIVILEGES ON {{ db_name }}.* TO '{{ db_user }}'@'%';
          FLUSH PRIVILEGES;"
      changed_when: false

    - name: Run initial Flyway migrations
      ansible.builtin.shell: |
        docker run --rm \
          -v {{ flyway_initial }}:/flyway/sql \
          --network host \
          flyway/flyway:10 \
          -url=jdbc:mysql://127.0.0.1:{{ mysql_port }}/{{ db_name }} \
          -user={{ db_user }} -password={{ db_pass }} \
          -locations=filesystem:/flyway/sql \
          migrate
      changed_when: false

    - name: Run incremental Flyway migrations
      ansible.builtin.shell: |
        docker run --rm \
          -v {{ flyway_incremental }}:/flyway/sql \
          --network host \
          flyway/flyway:10 \
          -url=jdbc:mysql://127.0.0.1:{{ mysql_port }}/{{ db_name }} \
          -user={{ db_user }} -password={{ db_pass }} \
          -locations=filesystem:/flyway/sql \
          migrate
      changed_when: false
