---
- name: Assignment 4 - Bring environment up and run initial & incremental migrations
  hosts: localhost
  connection: local
  vars:
    mysql_root_password: rootpass
    db_name: subscriptions
    db_user: sub_user
    db_pass: sub_pass
    mysql_host: 127.0.0.1
    mysql_port: 3306

  tasks:
    - name: Ensure MySQL container is running (docker)
      ansible.builtin.shell: |
        docker ps --filter "name=a4-mysql" --filter "status=running" --format "{{ '{{' }}.Names{{ '}}' }}" | grep -q a4-mysql \
        || docker run -d --name a4-mysql \
            -e MYSQL_ROOT_PASSWORD={{ mysql_root_password }} \
            -e MYSQL_DATABASE={{ db_name }} \
            -p {{ mysql_port }}:3306 \
            mysql:8
      changed_when: false

    - name: Wait for MySQL to be healthy
      ansible.builtin.shell: |
        echo "Waiting for MySQL container to become healthy..."
        until docker exec a4-mysql mysqladmin ping -h "localhost" -p{{ mysql_root_password }} --silent; do
          sleep 3
        done
        echo "MySQL is healthy!"
      changed_when: false

    - name: Wait until MySQL root can connect to database
      ansible.builtin.shell: |
        until docker exec a4-mysql mysql -uroot -p{{ mysql_root_password }} -e "SELECT 1" >/dev/null 2>&1; do
          echo "Waiting for MySQL to be ready..."
          sleep 3
        done
        echo "MySQL is ready for connections!"
      changed_when: false

    - name: Create DB user with default authentication
      ansible.builtin.shell: |
        docker exec -i a4-mysql mysql -uroot -p{{ mysql_root_password }} -e "
          DROP USER IF EXISTS '{{ db_user }}'@'%';
          CREATE USER '{{ db_user }}'@'%' IDENTIFIED BY '{{ db_pass }}';
          GRANT ALL PRIVILEGES ON {{ db_name }}.* TO '{{ db_user }}'@'%';
          FLUSH PRIVILEGES;"
      changed_when: false

    - name: Test DB connectivity
      ansible.builtin.shell: |
        docker exec a4-mysql mysql -u{{ db_user }} -p{{ db_pass }} -e "SELECT 1" {{ db_name }}
      register: db_test
      failed_when: db_test.rc != 0

    - name: Run initial Flyway migrations
      ansible.builtin.shell: |
        docker run --rm --network host \
          -v {{ playbook_dir }}/../flyway/migrations_initial:/flyway/sql \
          flyway/flyway:10 \
          -url=jdbc:mysql://{{ mysql_host }}:{{ mysql_port }}/{{ db_name }}?allowPublicKeyRetrieval=true&useSSL=false \
          -user={{ db_user }} \
          -password={{ db_pass }} \
          migrate
      changed_when: false

    - name: Run incremental Flyway migrations
      ansible.builtin.shell: |
        docker run --rm --network host \
          -v {{ playbook_dir }}/../flyway/migrations_incremental:/flyway/sql \
          flyway/flyway:10 \
          -url=jdbc:mysql://{{ mysql_host }}:{{ mysql_port }}/{{ db_name }}?allowPublicKeyRetrieval=true&useSSL=false \
          -user={{ db_user }} \
          -password={{ db_pass }} \
          migrate
      changed_when: false
