---
- name: Bring environment up
  hosts: localhost
  connection: local
  vars:
    mysql_root_password: rootpass
    db_name: subscriptions
    db_user: sub_user
    db_pass: sub_pass
    mysql_port: 3306
    mysql_container_name: a4-mysql

  tasks:
    - name: Ensure MySQL container is running
      ansible.builtin.shell: |
        docker ps --filter "name={{ mysql_container_name }}" --filter "status=running" --format "{{ '{{' }}.Names{{ '}}' }}" | grep -q {{ mysql_container_name }} \
        || docker run -d --name {{ mysql_container_name }} \
           -e MYSQL_ROOT_PASSWORD={{ mysql_root_password }} \
           -e MYSQL_DATABASE={{ db_name }} \
           -p {{ mysql_port }}:3306 \
           mysql:8
      changed_when: false

    - name: Wait until MySQL is ready
      ansible.builtin.shell: |
        until docker exec {{ mysql_container_name }} mysqladmin ping -h "localhost" -p{{ mysql_root_password }} --silent; do
          sleep 3
        done
      changed_when: false
