---
- name: Bring environment up and run Flyway migrations
  hosts: localhost
  become: false
  vars:
    mysql_root_password: rootpass
    mysql_port: 3306
    db_name: subscriptions
    db_user: sub_user
    db_pass: sub_pass
    flyway_image: flyway/flyway:10
    flyway_initial_migrations: "{{ playbook_dir }}/../flyway/migrations_initial"
    flyway_incremental_migrations: "{{ playbook_dir }}/../flyway/migrations_incremental"

  tasks:
    - name: Ensure MySQL container is running
      community.docker.docker_container:
        name: a4-mysql
        image: mysql:8.0
        state: started
        restart_policy: always
        env:
          MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
        ports:
          - "{{ mysql_port }}:3306"

    - name: Wait until MySQL is ready
      community.mysql.mysql_ping:
        login_user: root
        login_password: "{{ mysql_root_password }}"
        login_host: 127.0.0.1
        login_port: "{{ mysql_port }}"
      register: mysql_ping
      retries: 20
      delay: 3
      until: mysql_ping.ping is defined

    - name: Create DB user and database
      community.mysql.mysql_user:
        name: "{{ db_user }}"
        password: "{{ db_pass }}"
        priv: "{{ db_name }}.*:ALL"
        host: "%"
        state: present
        login_user: root
        login_password: "{{ mysql_root_password }}"

    - name: Create database if not exists
      community.mysql.mysql_db:
        name: "{{ db_name }}"
        state: present
        login_user: root
        login_password: "{{ mysql_root_password }}"

    - name: Run initial Flyway migrations
      community.docker.docker_container:
        name: flyway_initial
        image: "{{ flyway_image }}"
        command: >
          -url=jdbc:mysql://host.docker.internal:{{ mysql_port }}/{{ db_name }}?allowPublicKeyRetrieval=true&useSSL=false
          -user={{ db_user }}
          -password={{ db_pass }}
          -locations=filesystem:/flyway/sql
          migrate
        volumes:
          - "{{ flyway_initial_migrations }}:/flyway/sql"
        network_mode: host
        state: started
        remove: yes

    - name: Run incremental Flyway migrations
      community.docker.docker_container:
        name: flyway_incremental
        image: "{{ flyway_image }}"
        command: >
          -url=jdbc:mysql://host.docker.internal:{{ mysql_port }}/{{ db_name }}?allowPublicKeyRetrieval=true&useSSL=false
          -user={{ db_user }}
          -password={{ db_pass }}
          -locations=filesystem:/flyway/sql
          migrate
        volumes:
          - "{{ flyway_incremental_migrations }}:/flyway/sql"
        network_mode: host
        state: started
        remove: yes
