---
- name: Bring environment up and run Flyway migrations
  hosts: localhost
  become: false
  vars:
    mysql_root_password: rootpass
    mysql_port: 3306
    db_name: subscriptions
    db_user: sub_user
    db_pass: sub_pass
    flyway_image: flyway/flyway:10
    flyway_initial_migrations: "{{ playbook_dir }}/../flyway/migrations_initial"
    flyway_incremental_migrations: "{{ playbook_dir }}/../flyway/migrations_incremental"

  tasks:
    - name: Start MySQL container
      ansible.builtin.shell: |
        docker run -d --name a4-mysql -e MYSQL_ROOT_PASSWORD={{ mysql_root_password }} -p {{ mysql_port }}:3306 mysql:8.0
      changed_when: false

    - name: Wait until MySQL is ready
      ansible.builtin.shell: |
        for i in {1..30}; do
          docker exec a4-mysql mysqladmin ping -uroot -p{{ mysql_root_password }} &>/dev/null && exit 0
          sleep 2
        done
        exit 1
      register: mysql_ready
      failed_when: mysql_ready.rc != 0

    - name: Create database and user
      ansible.builtin.shell: |
        docker exec -i a4-mysql mysql -uroot -p{{ mysql_root_password }} -e "
        CREATE DATABASE IF NOT EXISTS {{ db_name }};
        CREATE USER IF NOT EXISTS '{{ db_user }}'@'%' IDENTIFIED BY '{{ db_pass }}';
        GRANT ALL PRIVILEGES ON {{ db_name }}.* TO '{{ db_user }}'@'%';
        FLUSH PRIVILEGES;"
      changed_when: true

    - name: Run initial Flyway migrations
      ansible.builtin.shell: |
        docker run --rm --network host -v {{ flyway_initial_migrations }}:/flyway/sql {{ flyway_image }} \
        -url=jdbc:mysql://127.0.0.1:3306/{{ db_name }}?allowPublicKeyRetrieval=true&useSSL=false \
        -user={{ db_user }} -password={{ db_pass }} -locations=filesystem:/flyway/sql migrate

    - name: Run incremental Flyway migrations
      ansible.builtin.shell: |
        docker run --rm --network host -v {{ flyway_incremental_migrations }}:/flyway/sql {{ flyway_image }} \
        -url=jdbc:mysql://127.0.0.1:3306/{{ db_name }}?allowPublicKeyRetrieval=true&useSSL=false \
        -user={{ db_user }} -password={{ db_pass }} -locations=filesystem:/flyway/sql migrate
