---
- name: Bring environment up and run Flyway migrations
  hosts: localhost
  gather_facts: yes
  vars:
    mysql_container_name: a4-mysql
    mysql_root_password: rootpass
    mysql_port: 3306
    db_name: subscriptions
    db_user: sub_user
    db_pass: sub_pass
    flyway_image: flyway/flyway:10
    flyway_init_path: ../flyway/migrations_initial
    flyway_incr_path: ../flyway/migrations_incremental

  tasks:
    - name: Start MySQL container
      community.docker.docker_container:
        name: "{{ mysql_container_name }}"
        image: mysql:8.0
        state: started
        restart_policy: unless-stopped
        ports:
          - "{{ mysql_port }}:3306"
        env:
          MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"

    - name: Wait until MySQL is ready (TCP)
      wait_for:
        host: 127.0.0.1
        port: "{{ mysql_port }}"
        delay: 5
        timeout: 30
        state: started

    - name: Create database and user
      ansible.builtin.shell: |
        docker exec -i {{ mysql_container_name }} mysql -h127.0.0.1 -uroot -p{{ mysql_root_password }} -e "
        CREATE DATABASE IF NOT EXISTS {{ db_name }};
        CREATE USER IF NOT EXISTS '{{ db_user }}'@'%' IDENTIFIED BY '{{ db_pass }}';
        GRANT ALL PRIVILEGES ON {{ db_name }}.* TO '{{ db_user }}'@'%';
        FLUSH PRIVILEGES;"
      changed_when: true

    - name: Run initial Flyway migrations
      ansible.builtin.shell: |
        docker run --rm --network host \
        -v {{ flyway_init_path }}:/flyway/sql \
        {{ flyway_image }} \
        -url=jdbc:mysql://127.0.0.1:{{ mysql_port }}/{{ db_name }}?allowPublicKeyRetrieval=true&useSSL=false \
        -user={{ db_user }} -password={{ db_pass }} -locations=filesystem:/flyway/sql migrate

    - name: Run incremental Flyway migrations
      ansible.builtin.shell: |
        docker run --rm --network host \
        -v {{ flyway_incr_path }}:/flyway/sql \
        {{ flyway_image }} \
        -url=jdbc:mysql://127.0.0.1:{{ mysql_port }}/{{ db_name }}?allowPublicKeyRetrieval=true&useSSL=false \
        -user={{ db_user }} -password={{ db_pass }} -locations=filesystem:/flyway/sql migrate
