name: CI with Flyway & Python tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci-pipeline:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: rootpass
          MYSQL_DATABASE: subscriptions
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=5s
          --health-timeout=10s
          --health-retries=10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Make migration script executable
        run: chmod +x ./ci_migrate.sh

      - name: Run migrations
        run: ./ci_migrate.sh

      - name: Run CRUD tests
        env:
          DB_HOST: host.docker.internal
          DB_USER: root
          DB_PASSWORD: rootpass
          DB_NAME: subscriptions
        run: |
          sleep 5
          pytest -v tests/test_subscribers.py
